body {
    text-decoration: none;
    background: linear-gradient(lightskyblue, midnightblue, black);
    background-repeat: no-repeat;
    display: inline-block;
    padding-bottom: 40px;
    color: #5a5a5a;
    text-align: center;
    margin: 8% 8% 10%;
    max-width: 100% ;
}
h1 {
    margin-top: 80px;
    text-align: center;
}
p {
    text-align: center;
}
#toolbar {
  text-align: center;
  background-color: whiteSmoke;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  left: 0;
}

#toolbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

#toolbar li {
    display: inline-block;
    padding: 10px;
}
#toolbar li a {
    text-decoration: none;
    color: black;
}
#toolbar li a:hover {
    color: white;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading {
  font-size: 50px;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.lead {
  color: grey;
}
