html {
  scroll-behavior: smooth;
}
body {
    text-decoration: none;
    background: linear-gradient(#23183d, #481c2b, #1d0c08);
    background-repeat: no-repeat;
    font-family: 'Barlow', sans-serif;
    display: inline-block;
    padding-bottom: 40px;
    color: white;
    text-align: center;
    padding: 0% 8% 0%;
    max-width: 100% ;
}

#gradient-overlay {
    background-image: url(images/stars.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #A62455;
    padding: 1% 0 1% 0;
}

p {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

h2 {
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}
section {
    min-height: 100%;
    max-height: 100%;
}

.lead {
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

.marketing {
    max-width: 100%;
    padding-top: 2%;
}
/*
#toolbar {
    text-align: center;
    background-color: #1d0c08;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
}

#toolbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

#toolbar li {
    display: inline-block;
    padding: 10px;
}

#toolbar li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#toolbar li a:hover {
    color: white;
    opacity: 1.0;
} */
/* body
{
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
} */


#menuToggle {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 20%;
  z-index: 9;
  align-content: left;
  user-select: none;
}

#menuToggle input {
    display: block;
    width: 50px;
    height: 45px;
    position: absolute;
    top: -6px;
    left: -3px;
    right: 3px;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 38px;
  height: 5.5px;
  margin: 5px;
  background: white;
  position: relative;
  border-radius: 3px;
  z-index: 9;

  transform-origin: 5.3px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 160px;
  height: auto;
  margin: -58px 0 0 -20px;
  padding: 20px;
  padding-top: 60px;
  padding-left: 20px;
  text-align: left;

  background: #625871;
  opacity: 0.4;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 3px 0;
    font-size: 22px;
    color: white;

}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
a {
    text-decoration: none;
    color: white;
    opacity: 1.0;
    transition: color 0.3s ease;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

a:hover {
    color: #A62455;
    text-decoration: none;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
img {
    max-width: 80%;
}

.timeline {
    margin-top: 4%;
}

.planetImg {
    text-align: center;
    margin-top: 0;
    padding-bottom: 3% 0 3% 0;

}
.modal {
    color: black;
}

#social-buttons button {
color: white
}


.btn-twitter {
 background: #00acee;
 border-color: #009ad5;
 margin:2%;
}

.btn-facebook {
    background: #4868ac;
    border-color: #314776;
    margin:2%;
}

.btn-pinterest {
    background: #A62455;
    border-color: #A62455;
    margin:2%;
}

.modal a.close-modal {
  height: 0px;
  width: 0px;
}
/* ANIMATED BORDERS
@keyframes bg {
    0% {
        background-size:    0 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    25% {
        background-size:    100% 3px,
                            3px 0,
                            0 3px,
                            3px 0;
    }
    50% {
        background-size:    100% 3px,
                            3px 100%,
                            0 3px,
                            3px 0;
    }
    75% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 0;
    }
    100% {
        background-size:    100% 3px,
                            3px 100%,
                            100% 3px,
                            3px 100%;
    }
}
*/

/*
.img-circle {
    width: 100%;
    margin: 0;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, #A62455 100%, #A62455 100%),
                        linear-gradient(to bottom, #A62455 100%, #A62455 100%),
                        linear-gradient(to right, #A62455 100%, #A62455 100%),
                        linear-gradient(to bottom, #A62455 100%, #A62455 100%);
    background-size:    100% 3px,
                        3px 100%,
                        100% 3px,
                        3px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: paused;
}

.img-circle:hover {
    animation-play-state: running;
}

*/
/* JUNO ROTATE */


.juno {
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    -ms-transition: -ms-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    max-width: 80%;
    z-index: 100;
}
.juno:hover {
    transform: rotate(180deg);
}

section {
    padding-bottom: 10%
}

.counter {
  margin: 20px;
}
