body {
    text-decoration: none;
    background: linear-gradient(lightSkyBlue, midnightBlue);
    background-repeat: no-repeat;
    display: inline-block;
    padding-bottom: 40px;
    color: #5a5a5a;
}


h1 {
    margin-top: 80px;
    text-align: center;
}
p {
    text-align: center;
}

#toolbar ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#toolbar li {
    display: inline-block;
    padding: 10px;
}

#toolbar {
    text-align: center;
    background-color: whiteSmoke;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
#toolbar li a {
    text-decoration: none;
    color: black;
}
#toolbar li a:hover {
    color: black;
}

.portraits {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.portraits img {
    width: 10%;
    height: auto;
    margin: 12px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading {
  font-size: 50px;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.lead {
  color: grey;
}
