body {
    padding: 0;
    text-decoration: none;
    background-image:url(images/background.png);
    background-repeat: no-repeat;
    display: inline-block;
    padding-bottom: 40px;
    color: #5a5a5a;
    text-align: center;
    margin: 8% 8% 10%;
    max-width: 100% ;
}
h1 {
    margin-top: 80px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}
p {
    text-align: center;
}

h2 {
 font-family: 'Roboto', sans-serif;
    color: white;
}

#toolbar ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#toolbar li {
    display: inline-block;
    padding: 10px;
}

#toolbar {
    text-align: center;
    background-color: whiteSmoke;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    left: 0;
}
#toolbar li a {
    text-decoration: none;
    color: black;
}
#toolbar li a:hover {
    color: black;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-heading {
  font-size: 50px;
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.lead {
  color: grey;
}
/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
